<p>listar works!</p>
<p> Empresa Filho: {{ empresaFilho }} </p>

<div class="row float-end">    
    <button class="btn btn-success" routerLink="/professores/criar"> Criar +</button>    
</div>

<table class="table">
    <tr>
        <th> ID </th>
        <th> Nome </th>
        <th> Rua </th>
        <th> Número </th>
        <th> CEP </th>
    </tr>
    <tr *ngFor="let p of professores">
        <td> {{ p.id }} </td>
        <td> {{ p.nome }} </td>
        <td> {{ p.rua }} </td>
        <td> {{ p.numero }} </td>
        <td> {{ p.cep }} </td>
    </tr>

</table>
